@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #05060b;
  color: white;
  font-family: 'Outfit', sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.035);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.glow-red {
  box-shadow: 0 0 20px rgba(255, 51, 71, 0.25);
}
